body {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 20px 50px;
}

header {
    background: #014a7c;
}

nav {

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0 70px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 15px;
    text-align: center;
}

nav ul li.active {
    background: #fff;
    
}
nav ul li.active a{
   
    color: #014a7b;
}
nav ul li:hover {
    background: #fff;
   
}
nav ul li a:hover {
    
    color: #014a7b;
}

aside {
    display: block;
    flex-grow: 1;
    padding: 20px;
    /*border: 1px #333 solid;*/
    border-radius: 2px;
}

aside ul {
    padding: 0 10px;
    list-style-type: none;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    color: #376892;
    text-decoration: none;
}

aside ul li a.active {
    color: #35648c;
    font-weight: bold;
}

aside ul li a:hover {
    text-decoration: underline;
    color: #35648c;
    font-weight: bold;
}

aside .aside-title {
    color: #226586;
    font-size: 22px;
}

main {
    flex-basis: 100%;
    flex-grow: 1;
}

footer {
    padding: 20px;
    background: #212529;
    color: #fff;
}

footer div p {
    text-align: center;
}

.banner {
    width: 100%;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

main {
    padding: 0 20px;
}

.content-title {
    text-align: center;
    margin-top: 0;
}

.drop-down-wrapper {
    position: relative;
}

.drop-down {
    position: absolute;
    display: none;
    color: #014a7b;
    background: #fff;
    padding: 0;
    min-width: 250px;
    border: 1px solid #014a7b;
    box-sizing: border-box;
}

.drop-down .item {
    display: block;
    padding: 0;

}


.drop-down .item a {
    padding: 10px 15px;
    color: #014a7b;
}

.drop-down .item:not(:last-child) {
    border-bottom: 1px solid #014a7b;
}

.drop-down-wrapper:hover {
    background: #fff;
    color: #014a7b;
}

.drop-down-wrapper:hover .drop-down {
    display: block;
}

.drop-down-wrapper:hover > a {
    color: #014a7b;
}

.drop-down .item:hover > a {
    background: #014a7b;
    color: #fff;
}


@media (min-width: 992px) {
    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 20px 50px;
    }

    aside ul {
        padding: 0;
        list-style-type: none;
    }

    main {
        /*flex-basis: 75%;*/
        flex-grow: 1;
    }

    aside {
        flex-basis: 25%;
        border-left: 1px #212529 solid;
    }

    main ul li {
        margin-bottom: 20px;
    }

}

